Features for {{ request.user }}
{% if has_feature('public_feature') %}public_feature{% endif %}
{% if has_feature('public_opt_in_feature') %}public_opt_in_feature{% endif %}
{% if has_feature('public_partially_rolled_out_opt_in_feature') %}public_partially_rolled_out_opt_in_feature{% endif %}
{% if has_feature('group_feature') %}group_feature{% endif %}
{% if has_feature('group_opt_in_feature') %}group_opt_in_feature{% endif %}
